/Proyecto1/JavaApplication1/nbproject/private/
/Proyecto1/JavaApplication1/build/
/Proyecto1/Centro_de_Acopio/nbproject/private/
/Proyecto1/problema1/nbproject/private/
/Proyecto1/problema1/build/
/Proyecto1/problema3/nbproject/private/
/Proyecto1/problema3/build/